@font-face {
  font-family: Bold;
  src: url("../font/bold.ttf");
}

@font-face {
  font-family: Normal;
  src: url("../font/normal.ttf");
}

body {
  padding: 0;
  margin: 0;
  font: 400 15px/1.8 sans-serif;
  color: #e6f8ff;
  overflow-x: hidden;
  background-image: url("../images/background-motif.png");
  background-color: #e6f8ff;
  background-attachment: fixed;
  background-position: center;
  font-family: Normal;
}

.token-box {
  width: 80%;
  height: 50px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 32px;
}

#token {
  width: calc(80% - 24px); /* Updated to account for icon width */
  text-align: center;
  color: #0092e9;
}

.copy-icon {
  color: #0092e9;
}

.copied-text {
  top: calc(100% + 24px); /* Position below the copy icon */
  left: 50%;
  transform: translateX(+10%);
  font-size: 12px;
  color: #0092e9;
  opacity: 0; /* Initially hidden */
  font-weight: bold; /* Make the text bold */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.title, .big-text, .text-content {
  padding: 5px 80px 5px 80px;
  text-align: justify;
}

.text-content {
  font-size: 17px;
}

.title {
  font-size: 28px;
  font-family: Bold;
  font-weight: bolder;
}

.social-icon {
  width: 64px;
}

.big-text {
  font-family: Bold;
  font-size: 22px;
  text-align: center;
}

.subtitle {
  font-size: 25px;
  font-family: Bold;
  font-weight: bold;
}

.title, .subtitle {
  text-transform: uppercase;
  text-align: center;
}

.text-color {
  background-color:#0092e9;
}

.no-max-width {
  max-width: none;
}

.social-icons {
  height: 84px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  font-variant: small-caps;
  font-size: 22px;
  font-weight: bolder;
  color: #fefefe;
  text-decoration: none;
  text-align: center;
  background-color: #fab700;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  border-bottom: 3px solid #896603;
}

a {
  font: 400 22px/1.8 "Normal", sans-serif;
}

.parallax-1-layer-0, .parallax-2-layer-0 {
  position: relative;
  opacity: 1.0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-width: 100%;
  left: 0;
  top: 0px;
  text-align: center;
}

.parallax {
  height: 640px;
  overflow: hidden;
  position: relative;
}

#parallax-mobile {
  display: none;
  background: url("../img/parallax-0-layer-0-mobile.png") no-repeat center bottom / cover;
  height: 320px;
}

.parallax-layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1280px;
  height: 720px;
  position: fixed;
  z-index: -1;
}

.layer-bg {
  background-image: url('../img/parallax-0-layer-3.png');
}
.layer-1 {
  background-image: url('../img/parallax-0-layer-2.png');
}
.layer-2 {
  background-image: url('../img/parallax-0-layer-1.png');
}
.layer-3 {
  background-image: url('../img/parallax-0-layer-0.png');
}
.layer-4 {
  background-image: url('../img/parallax-0-layer-4.png');
}

.cover {
  background-color: #0092e9;
  text-align: justify;
  position: relative;

  z-index: 1;
}

.content {
  width: 100%;
  max-width: 1280px;
  overflow-x: hidden;
}
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgba(0,0,0,0.3);
  z-index: 5;
  overflow: hidden;
  text-decoration: none;
}
.topnav a {
  float: left;
  text-align: center;
  padding: 0px 24px;
  text-decoration: none;
}
.topicon {
  height: 48px;
  padding: 14px 24px 0px;
}

#cgs-logo {
  opacity: 0.0;
  transition: opacity .3s ease-in-out;
}

.topnav-right {
  float: right;
  padding: 0px 0px 0px 0px;
}

.topnav-right a {
  transition: background .5s ease-in-out;
}

.topnav-right a:hover {
  background: #0092e9;
}

.divTable{
	display: table;
  width: 90%;
  text-align: center;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 0px;
	display: table-cell;
	padding: 12px 10px;
}
.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  max-width: 95%;
}
.video-responsive iframe,  
.video-responsive object,  
.video-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.shadow {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .5);
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery img:hover {
  width: 100%;
  height: auto;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.gallery .divTableCell {
  margin: 0px;
  padding: 0px;
}

.padit {
  padding: 50px 50px 50px 50px;
}

.center {
  text-align: center;
}

.newsletter-description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

.newsletter-input {
  display: flex;
  align-items: center;
  max-width: 450px;
}

.newsletter-button {
  height: 44px;
  border: none;
}

.newsletter-email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: grey;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

.newsletter-confirm {
  margin-top: 24px;
  font-size: 20px;
  letter-spacing: 1px;
  display: none;
}

.newsletter-submit {
  width: 25%;
  height: 46px;
  background: #e2c87d;
  color: #ad891e;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  
.newsletter-submit:hover {
  background: #ffe495;
} 

.newsletter-submit:disabled {
  background: lightgray;
  color: grey;
} 

.newsletter-input:focus {
  box-shadow: 0px 0px 8px grey;
}

.footer {
  width: 100%;
  background-color: #393e46;
  z-index: 3;
  min-height: 220px;
  font-size: 26px;
  font-weight: 600; 
}

.footnav-center {
  margin: auto;
  padding: 24px 0 0 32px;
}

.copyright {
  color: gray;
  font-size: 14px;
}

.center-text {
  text-align: center;
}

.footer a:link,.footer a:visited,.footer a:active {
  color: gray;
}

.footer a:hover {
  color: black;
}

.caps {
  text-transform: uppercase; 
}

.binogure-logo {
  width: 196px;
}

.column-2 {
  width: 40%;
  padding: 0 32px 0 32px;
}

@media only screen and (max-width: 800px) {
  .newsletter-confirm {
    font-size: 14px;
  }

  .copyright {
    font-size: 10px;
  }

  .newsletter-description {
    font-size: 10px;
  }

  .text-content {
    font-size: 16px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .big-text {
    font-size: 16px;
    text-align: center;
  }
  
  .subtitle {
    font-size: 14px;
    font-weight: bold;
  }

  .text-content {
    font-size: 12px;
  }

  .footer {
    font-size: 15px;
  }

  .button {
    font-size: 16px;
  }

  a {
    font: 300 12px/1.8 "Normal", sans-serif;
  }

  .binogure-logo {
    width: 96px;
  }
  
  .padit, .title, .big-text, .text-content {
    padding: 2px 2px 2px 2px;
  }

  .topnav {
    padding: 0 5px;
  }

  .layer-4 {
    opacity: 0;
  }

  .topicon {
    height: 24px;
    padding: 4px 0px;
  }

  .social-icons {
    height: 60px;
  }

  .social-icon {
    width: 32px;
    padding: 12px;
  }

  #cgs-logo {
    opacity: 1.0;
  }

  .footnav-center {
    padding: 4px 0 0 6px;
  }

  .column-2 {
    padding: 0 6px 0 6px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  z-index: 20;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1280px;
}

.modal-content {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.2s;
  animation-name: zoom;
  animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0.8)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0.8)} 
  to {transform:scale(1)}
}

#steam-img {
  width: 96px;
}

#rss-feeds {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 24px;
}

.rss-entry {
  background: radial-gradient(circle at top left, #393e46 10%, rgba(57, 62, 70, 0.4) 90%);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0);
  transition: box-shadow .24s ease-in-out;
  max-width: 75%;
  min-width: 75%;
  padding: 0 10px;
  margin: auto;
  margin-top: 16px;
}

.rss-entry:hover {
  background: radial-gradient(circle at top left, #222831 10%, rgba(57, 62, 70, 0.4) 90%);
  transition: box-shadow .24s ease-in-out;
}

.rss-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.rss-right {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 12px;
  flex-shrink: 0;
}

.rss-right > img {
  transition: height .24s ease-in-out;
  width: 30vw;
  min-width: 128px;
  max-width: 350px;
  box-sizing: border-box;
  object-fit: contain;
}

.rss-left {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: #c6d4df;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.rss-title {
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  text-transform: unset;
  word-break: break-word;
  flex: none;
}

.rss-date {
  color: #909da7;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 11px;
  line-height: 20px;
}

.rss-content {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #a0afbb;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: 8px;
}